
/* English Font: */
*{
    font-family: "Poppins", sans-serif;
}

/* Bangla Font: */
.font-bangla{
    font-family: "Hind Siliguri", sans-serif;
}

/* After Clicking Btn: Change it's Color: */
.active{
    background-color: rgb(82, 163, 76);
    border: none;
    color: white;
}

/* hr design: */
#faq-container hr{
    color: white;
}